# Add your Gemini API key here
# Get one at: https://aistudio.google.com/
EXPO_PUBLIC_GEMINI_API_KEY=

# Or add your OpenAI API key here
# Get one at: https://platform.openai.com/
EXPO_PUBLIC_OPENAI_API_KEY=
